body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  background-color: #151a21;
}

body::-webkit-scrollbar {
  background-color: #1d2026;
}

body::-webkit-scrollbar-thumb {
  background-color: #0e0b0b;
  border: 1px solid #20232a;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #1d2026;
}

body::-webkit-scrollbar-button {
  background-color: #1d2026;
}

header {
  position: fixed;
  width: 100%;
  background-color: #88bef5;
  z-index: 999;
}
header .all-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .all-header-content .logo {
  font-size: 18pt;
  padding: 1.5% 3%;
  text-transform: uppercase;
  font-weight: 600;
  color: #20232a;
  flex-basis: 30%;
  cursor: pointer;
}
header .all-header-content nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 70%;
  font-size: 12pt;
  font-weight: 600;
  text-transform: uppercase;
}
header .all-header-content nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
header .all-header-content nav ul li a {
  text-decoration: none;
  color: #071a52;
}
header .all-header-content nav ul li a:hover {
  border-bottom: 2px solid #0e0b0b;
}
header .all-header-content nav .main-list {
  margin-left: -20%;
}
header .all-header-content nav .main-list ul li {
  margin-right: 15%;
}
header .all-header-content nav .social-list {
  font-size: 16pt;
}
header .all-header-content nav .social-list ul li {
  margin-right: 30%;
}

main .header-img {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 140%;
  z-index: -1;
}
main .text {
  height: 90vh;
  width: 100%;
  font-size: 32pt;
  color: #fcefee;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .text h2 {
  margin-top: 15%;
}
main .text h6 {
  margin: 0;
  color: #20232a;
}
main .text hr {
  width: 25%;
  background-color: #fcefee;
  border: 2px solid #fcefee;
  margin-top: 10px;
  margin-bottom: 1%;
  transition: all 0.3s;
}
main .text .header-info {
  font-size: 16pt;
  width: 60%;
  text-align: center;
  color: #fcefee;
  text-shadow: 1px 1px 2px black;
}
main .text button {
  background-color: #1d2026;
  color: #fcefee;
  padding: 1% 3%;
  margin-top: 2%;
  text-transform: uppercase;
  border: 2px solid #88bef5;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
main .text button:hover {
  background-color: #88bef5;
  color: #0e0b0b;
  border: 2px solid #0e0b0b;
  box-shadow: 0px 0px 10px 5px #88bef5;
}
main .article {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fcefee;
}
main .article .first-string {
  font-size: 28pt;
  margin-bottom: 1%;
}
main .article hr {
  border: 1px solid #88bef5;
  background-color: #88bef5;
  width: 20%;
  margin: 0;
  border-color: #88bef5;
  transition: all 0.2s linear;
}
main .image-section {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  cursor: pointer;
  transition: transform 0.2s linear;
  width: 100%;
}
main .image-section .image-block {
  flex-basis: 30%;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
}
main .image-section .image-block .image {
  width: 100%;
  transition: transform 0.2s linear;
  background: linear-gradient(45deg, #30cfd0, #330867);
}
main .image-section .image-block .image img {
  transition: opacity 0.2s linear;
  display: block;
  width: 100%;
  height: 300px;
}
main .image-section .image-block .image-section-text {
  color: #fcefee;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
  transition: opacity 0.2s linear;
  transition: transform 0.2s linear;
}
main .image-section .image-block .image-section-text i {
  font-size: 20pt;
  margin-bottom: 5%;
}
main .image-section .image-block:hover .image {
  box-shadow: 10px 10px 0 #88bef5;
  transform: translate3d(-10px, -10px, 0);
}
main .image-section .image-block:hover .image img {
  opacity: 0.1;
}
main .image-section .image-block:hover .image-section-text {
  left: -10px;
  opacity: 1;
}
main .about-us {
  margin-top: 20%;
}
main .about-us .image-section {
  justify-content: center;
  width: 90%;
}
main .about-us .image-section .image-block:first-child {
  margin-left: 10%;
}
main .about-us:hover .article hr {
  width: 30%;
}
main .our-team .image-section .image-block {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  position: relative;
}
main .our-team .image-section .image-block .image img {
  height: 100%;
}
main .our-team .image-section .image-block .image-section-text {
  top: 40%;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}
main .our-team .image-section .image-block .image-section-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  border: 1px solid #071a52;
  background-color: #88bef5;
  color: #0e0b0b;
  transition: opacity 0.2s linear;
  transition: transform 0.2s linear;
}
main .our-team .image-section .image-block .image-section-text a:hover {
  background-color: #071a52;
  color: #fcefee;
}
main .our-team .image-section .image-block .under-image-text {
  text-align: center;
  color: #fcefee;
}
main .our-team .image-section .image-block .under-image-text h6 {
  font-size: 22pt;
  margin: 0;
  margin-top: 5%;
}
main .our-team .image-section .image-block .under-image-text p {
  font-style: italic;
}
main .our-team:hover .article hr {
  width: 30%;
}
main .our-work .article {
  margin-bottom: 5%;
}
main .our-work .work-all {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}
main .our-work .work-all .first-work-block {
  margin-right: 2%;
}
main .our-work .work-all .work-block .another-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20232a;
  margin-top: 4%;
  cursor: pointer;
  transition: all 0.1s;
}
main .our-work .work-all .work-block .another-block .image-section {
  flex-basis: 90%;
  margin: 5%;
}
main .our-work .work-all .work-block .another-block .image-section img {
  width: 90%;
  width: 200px;
  height: 150px;
}
main .our-work .work-all .work-block .another-block .text-section {
  padding-right: 5%;
}
main .our-work .work-all .work-block .another-block .text-section h5 {
  text-align: center;
  color: #88bef5;
  font-size: 18pt;
  margin: 5px;
}
main .our-work .work-all .work-block .another-block .text-section p {
  color: #fcefee;
}
main .our-work .work-all .work-block:hover .another-block {
  transform: translate3d(10px, -10px, 0);
  box-shadow: 10px 10px 0 #0e0b0b;
}
main .our-work:hover .article hr {
  width: 30%;
}

main:hover .text hr {
  width: 35%;
}
